.container {
  height: 100vh;
  width: 84vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: "Poppins", sans-serif;
  padding: 1.25rem 0 0 1.25rem;
}

.topWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-right: 1.25rem;
  margin-bottom: 1.45rem;
}

.welcomeText {
  font-weight: 600;
  color: black;
  font-size: 1rem;
}

.dateText {
  font-weight: 500;
  color: #707070;
  font-size: 0.9rem;
}

.titleText {
  font-weight: 500;
  color: black;
  font-size: 1.25rem;
}

.boardWrapper {
  display: flex;
  width: 100%;
  flex: 1;
  overflow-x: auto;
  margin-bottom: 0.35rem;
}
.board {
  display: flex;
  gap: 1rem;
  margin-right: 1.25rem;
  height: 97%;
  position: relative;
}

/* Horizontal scrollbar */
::-webkit-scrollbar:horizontal {
  height: 8px;
  border-radius: 10px;
  background: white;
}

::-webkit-scrollbar-thumb:horizontal {
  background-color: #9cb7c5;
  border-radius: 8px;
}

.selectWrapper {
  position: relative;
  cursor: pointer;
}

.selectHeader {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  color: black;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;
}

.optionsWrapper {
  border-radius: 0.5rem;
  box-shadow: 0px 2px 22px 0px #7e7a7a40;
  background-color: white;
  z-index: 1;
  position: absolute;
  top: 100%;
  right: 0;
  padding: 0.5rem 0;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.option {
  padding: 0.3rem 3rem 0.3rem 1rem;
  cursor: pointer;
  white-space: nowrap;
}

.option:hover {
  background-color: #f0f0f0;
}

.option.selected {
  background-color: #ddd;
}
.loading {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.02);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}
