:root {
  --color-primary: #17a2b8;
  --board-bg: #eef2f5;
  --priority-low: #63c05b;
  --priority-moderate: #18b0ff;
  --priority-high: #ff2473;
  --color-red: #cf3636;
  --button-bg: #eeecec;
  --button-text: #767575;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  --webkit-font-smoothing: antialiased;
  background-color: white;
  overflow-x: hidden;
}

svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
