.container {
  height: 100vh;
  width: 84vw;
  padding: 1rem 1.5rem;
  font-family: "Open Sans", sans-serif;
}

.heading {
  color: black;
  font-weight: 600;
  font-size: 1.15rem;
}

.wrapper {
  display: flex;
  margin: 3rem 0;
  gap: 1rem;
}

.analytics {
  width: 37%;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.875rem;
  background-color: #f9fcff;
}

.element {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.title {
  width: 80%;
  font-weight: 500;
  font-size: 0.82rem;
}

.stats {
  font-weight: 600;
  font-size: 0.9rem;
  width: 10%;
  text-align: center;
}
