.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.content {
  text-align: center;
  width: 100%;
  margin-bottom: 2rem;
}

.notFound {
  font-weight: 500;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.link {
  color: var(--color-primary);
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.link:visited {
  color: var(--color-primary);
}

.logo {
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media (min-width: 768px) {
  .content {
    width: 50%;
  }
}
