.container {
  background-color: white;
  border-radius: 1rem;
  padding: 1rem;
}

.topSection,
.priorityWrapper,
.checklistHeader,
.statusWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.25rem;
}

.priorityBullet {
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 50%;
}
.priorityLabel {
  font-weight: 500;
  font-size: 0.5rem;
  color: #707070;
}

.menu {
  width: 1rem;
}
.menu:hover {
  cursor: pointer;
}
.taskName {
  font-size: 0.95rem;
  font-weight: 500;
  color: black;
  margin: 1rem 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.checklistLabel {
  font-size: 0.875rem;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}
.arrowBtn {
  background-color: var(--button-bg);
  border-radius: 0.25rem;
  padding: 0.1rem;
  cursor: pointer;
}

.checklistWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.65rem;
  margin: 0.75rem 0;
}

.checkWrapper {
  border-radius: 0.5rem;
  border: 1px solid #e2e2e2;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  padding: 0.35rem;
  gap: 0.5rem;
  position: relative;
}

.checkbox {
  height: 18px;
  min-width: 18px;
  border-radius: 6px;
  border: 2px solid #e2e2e2;
}

.checkboxSelected {
  background-color: var(--color-primary);
  height: 18px;
  min-width: 18px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottomSection {
  margin: 1.25rem 0 0 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.date {
  background-color: #dbdbdb;
  font-size: 0.57rem;
  color: #5a5a5a;
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
  font-weight: 500;
}

.deadline {
  background-color: var(--color-red);
  font-size: 0.57rem;
  color: white;
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
}

.done {
  background-color: var(--priority-low);
  font-size: 0.57rem;
  color: white;
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
}
.placeholder {
  flex: 1;
}

.statusBtn {
  font-size: 0.57rem;
  border-radius: 0.5rem;
  color: var(--button-text);
  font-family: "Poppins", sans-serif;
  padding: 0.25rem 0.5rem;
  font-weight: 500;
  background-color: #eeecec;
  white-space: nowrap;
  cursor: pointer;
}

.menucontainer {
  position: relative;
  padding: 0.25rem 0;
}

.menuicon {
  cursor: pointer;
}

.menuItem,
.menuItemDel {
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
}

.menuItemDel {
  color: var(--color-red);
}

.menulist {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  list-style-type: none;
  padding: 0.5rem 0;
  border-radius: 0.5rem;
  box-shadow: 0px 2px 22px 0px #7e7a7a40;
  z-index: 1;
}

.menulist li {
  padding: 0.3rem 5rem 0.3rem 1rem;
  cursor: pointer;
}

.menulist li:hover {
  background-color: #f0f0f0;
}
